/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS Reset */

body {
    font-family: sans-serif, 'Open sans';
    margin: 0.5rem;
    margin-left: 4rem;

}

.container {
    background: #222;
}

.container-nav {

    padding: 20px;
}

/* styling anchor tags */
nav ul a {
    display: block;
    text-decoration: none;
    color: #c78c06;
    font-size: 1rem;
    position: relative;
    padding: 7px;
    margin-left: 150px;
    margin-bottom: 10px;
}

.btn {
    size: 1rem;
    background-color: black;
    color: white;
    padding: 0.2rem;
    position: relative;
    text-decoration: none;
    border-top: 1px solid black;


}

.logo1 {
    width: 100%;
    height: 10%;

}

#search {
    width: 80%;
}

input[type="text"i] {

    width: 380px;
    height: 1.3rem;


}

.icon i {
    color: #c78c06;
    border: 1px solid #c78c06;
    position: absolute;


}


.btn {
    size: 1rem;
    background-color: black;
    color: white;
    padding: 0.2rem;
    position: relative;
    text-decoration: none;
    border-top: 1px solid black;


}

.im-magnifier:before {
    size: 10px;
    color: orange;
}


/* Main-Banner */

.banner21 img {
    position: absolute;
    width: 467px;
    height: 240px;

}

.banner-info {
    position: relative;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 1rem;
}



img {
    width: 100%;
    margin-right: 10rem;

}

.btn22 {
    background-color: orange;
    text-decoration: none;
    padding: 0.6rem;
    color: black;


}

.btn22 i::before {
    color: black;
    border: none;
    text-decoration: none;

}

h11 {
    font-size: 50px;
    color: white;
    position: relative;


}


h2 {
    font-size: 30px;
    font-weight: bold;
    padding: 1rem;
}

.about {
    background-color: #ffe6ac;

    position: relative;
}

.aboutus-info {
    padding: 20px;
    font-size: 20px;


}

.services {
    position: relative;
}

.Our-services {
    font-size: 20px;
    background-color: #ffe6ac;
    padding: 20px;


}

.Our-services p {
    margin-right: 1rem;
    margin-bottom: 1rem;

}

.marketing {
    font-size: 20px;
    background-color: #ffe6ac;
    padding: 20px;
}

.marketing p {
    margin-bottom: 1rem;
}

.video-production {
    font-size: 20px;
    background-color: #ffe6ac;
    padding: 20px;
}

.video-production p {
    margin-bottom: 1rem;
}

.web {
    font-size: 20px;
    background-color: #ffe6ac;
    padding: 20px;
}

.web p {
    margin-bottom: 1rem;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    padding-top: 2rem;
    margin-left: 1rem;

}


.vision img {
    position: absolute;
    height: 350px;
    width: 100%;
}

.vision p {

    position: relative;
    color: white;
    padding-top: 1rem;
    font-size: 1rem;

}

.vision img {
    position: absolute;
    height: 250px;
    width: 100%;
}

.vision-info {
    position: relative;
    color: white;
    font-size: 1.5rem;
    margin-left: 1rem;


}

.button {
    padding: 0.5rem;
    color: white;
    background-color: black;
    border: 1px solid grey;
    border-top: 1px solid green;
    position: absolute;
    margin-top: 6px;
    size: 1rem;



}

h4 {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    padding-top: 1rem;
    margin-left: 2rem;

}

.team {
    position: relative;
    margin-left: 10px;
    padding-top: 5rem;

}

.team img {
    padding-top: 2rem;
}

.team p {
    margin-left: 0px;
    padding: 1rem;
    font-size: 1rem;
}

.member1-info {
    position: relative;
    padding-bottom: 1rem;
    background-color: #ffe6ac;
    width: 470px;
    height: 200px;

}

h4 {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    padding: 0.5rem;
    margin-left: 0.1px;

}

h5 {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 13px;
    border-bottom: 0.1rem solid brown;
    padding: 0.2rem;
    border-top: 1rem;

}

.member2 {
    color: #ffe6ac;
}

.member2-info {
    background-color: #ffe6ac;
    margin-left: 2rem;
}

.contact {
    margin-left: 0.5rem;
}

h6 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* adjusting the input bars */
#fullname,
#youremail {
    width: 455px;

}

#message {

    width: 455px;
    height: 60px;

}

/* play icon styling */

.im-care-right {
    margin-left: 0.5rem;
    size: 2px;


}

.i ::before {
    font-size: 15rem;
    border: green;
}

.im-care-right:before {
    font-size: 1rem;
    color: white;
    border: 1px solid black;


}

/* styling buttons */
.buttons {

    background: black;

    color: chocolate;
    border: 1px solid black;
    border-bottom: 4px;
    width: 110px;
    height: 60px;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid black;
    padding: 1rem;
    width: 450px;
    background-color: white;
    margin-top: 1rem;
    margin-left: 1rem;

}


table,
tr,
th {
    background-color: #ffe6ac;
}

.loc {
    padding: 1rem;


}

#footer {
    background-color: black;
}

#footer p {
    color: coral;
    padding-top: 1rem;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;


}

#footer-link {
    color: coral;
}

/* Desktop  */
@media screen and (min-width:760px) {
    body {
        font-family: sans-serif, 'Open sans';

        margin-left: 1rem;
        margin-right: 1rem;
    }

    .logo1 {
        width: 40%;



    }
   

    .icon {
        display: inline-block;
        width: 100px;
        padding: 0%;
    }

    #search {
        position: relative;
        display: inline-block;
        width: 100px;
        margin-left: 150px;
    }

    nav ul li {
        display: flex;
        display: inline-block;
        width: 100px;


    }

    .search {
        float: right;

    }

    .banner21 img {
        display: inline-block;
        height: 555px;
        width: 1467px;
    }

    .banner-info {

        margin-left: 4rem;
        margin-bottom: 355px;
        padding: 3rem;
        background-color: gray;
        align-content: center;


    }

    .about img {
        display: flex;
        float: left;
        width: 400px;
        height: 230px;
        margin-left: 10rem;
        margin-right: 1rem;
        padding: 1px;
        background-color: #ffe6ac;
    }

    .aboutus-info {

        background-color: #ffe6ac;
        padding-bottom: 3.5rem;



    }

    .about p {
        font-size: 15px;
        font-weight: bold;
        margin-right: 23rem;
    }

    .Our-services {
        padding: 1.6rem;
    }

    .services img {
        height: 358px;
    }


    .flex {
        display: flex;
        flex-direction: row;
        background-color: white;

        margin-left: 11.8rem;
        margin-right: 11.8rem;
    }

    h2 {
        margin-right: 100px;
        margin-left: 170px;
    }

    .mar {
        margin-right: 1rem;
    }

    .mar img {


        padding-left: 1rem;
        padding-right: 2rem;
    }

    .marketing {
        margin-left: 1rem;
        padding-bottom: 2rem;
    }

    .flex1 {
        display: flex;
        margin-left: 11.8rem;
        margin-right: 11rem;
       

    }

    .video-production {
        size: 2rem;
        border-right: 1rem solid white;
    }
    .btn{
        padding: 0.2rem;
        margin-top: 6rem;
        padding-right: 3rem;
        padding-left: 7rem;
    }
    .web img {
        height: 220px;
        border-right: 2px;
    }

    .web {
        border-right: 1rem solid white;
        
    }

    .print {

        background-color: #ffe6ac;
        padding: 1rem;
        padding-right: 2rem;
        margin-right: 20px;
        

    }
    .print-info{
        font-size: 20px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .print img {

        padding: 0.5rem;
        height: 220px;
        padding-top: 1px;
        


    }
.button{
    padding: 1rem;
    border-top: 1px solid black;
    margin-top: 2rem;
    
}
h4{
    margin-top: 3rem;
}
.member1{
    
    width: 30%;
    display: inline-block;
    margin-left: 322px;
    flex-basis: 100%;

}
.flex3{
    display: grid;
    
    display: inline-block;
    float: right;
    align-content: center;
}
.member1-info{
    
    display: inline-block;
   float: right;
   margin-right: 9rem;
   flex-basis: 50%;
   margin-top: 2rem;
   
   padding: 3rem;
   
}
.member1 img{
    border: right 1px;
    flex-basis: 60%;
    margin-right: 15rem;
}

}
.flex4{
    display: grid;
    
    display: inline-block;
    float: right;
    
}
.member2 img{
    
    flex-basis: 50%;
    margin-right: 15rem;
  
    
}
.member2{
    
    width: 30%;
    display: inline-block;
    margin-bottom: 1rem;
    margin-right: 16rem;
    margin-left: 0px;

   } 
.member2-info{
    
    display: inline-block;
    float: left;
    width: 25%;
    margin-left: 323px;
    padding: 2rem;
    padding-bottom: 4.7rem;
    padding-left: 40px;
   
}
.member2 img{
    padding-top: 0px;
    width: 35.6rem;
    height: 21rem;
    margin-right: 10rem;
}
h4{
   border-left: 15rem;

   
}
#fullname, 
#youremail{
    margin-bottom: 15px;
    width: 1450px;
}
#message {

    width: 1450px;
    height: 60px;

}
table,
th,
td {
    
    padding: 1rem;
    width: 1450px;
    background-color: white;
    margin-top: 1rem;
    margin-left: 1rem;
    

}
h2{
    margin-left: 0.5rem;
}

table,
tr,
th {
   
    background-color: #ffe6ac;
    flex-basis: 50%;
    order: 0;

}
.table{
    display: grid;
}
.flex5{
    display: grid;
    grid-template-rows: (2,1fr);

    grid-template-areas:
     "table loc";
}
.loc{
    display: grid;
   
}
#footer p {
  margin-left: 7rem; ;

}